**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.db
**/*.db-shm
**/*.db-wal
**/appsettings.json
**/appsettings.Local.json
**/appsettings.Production.json
**/secrets.json
*.md
LICENSE
.github/
ControleEstoque.Tests/
